
body {
  margin: 0;
  background-color: #9097c0; /* color de fondo más llamativo */
  font-family: "Lucida Console", "Courier New", monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  border: 5px solid #ffe6e6;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  animation: aparecer 5s forwards;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}



@keyframes ondular {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    color: #000000;
}

.Listanota{
 display:grid;
 grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* animation: ondular 2s infinite alternate; */
  animation: aparecer 1s forwards;
}

 
header{
  display:flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  animation: ondular 2s infinite alternate;
}

h1{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #ffe6e6;
  padding: 10px;
  border-radius: 20px;
  color: whitesmoke;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

h2{
  display:flex;
  flex-direction: column;
  align-items: center;
  color: whitesmoke;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);

}


  

/*Sector de animaciones*/
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #333;
  color: #ffe6e6;
  text-decoration: none;
  animation: bounce 1s infinite;
  animation: ondular 2s infinite alternate;
  animation: aparecer 1s forwards;
}

 

@keyframes aparecer {
  from { opacity: 0; }
  to { opacity: 1; }
}


.icon{
  animation: swing 1s infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes swing {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0);
  }
}