.nota_nueva{
    background: #67d7cc;
    padding: 1rem;
    height:170px;
    display:flex;
    justify-content: space-between;
    flex-direction: column; 
    border-radius: 10px ;
    white-space: pre-wrap;
    color:black;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  }
  
  textarea{
    border: none;
    resize: auto;
    background: #67d7cc;
  }
  
  textarea:focus{
    outline: none;
  }
  
  .Guardar{
    background-color: rgb(138, 168, 167);
    border: none;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);

  }
  
  .Guardar:hover{
    background-color: rgb(138, 168, 167);
    transform: scale(1.1);
    color: white;
    cursor:pointer;
  }
  
  .delete-icon:hover{
    color: red;
    transform: scale(1.1);
    cursor: pointer;
    
  }
  
  .container {
      max-width: 960px;
      margin-right: auto;
      margin-left: auto;
      padding-right: 15px;
      padding-left: 15px;
      min-height: 100vh;
  }
  
  .nota-lista {
  background: #f5f68a;
  padding: 1rem;
  height: 170px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 10px;
  white-space: pre-wrap;
  transition: background-color 1s ease-out;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

  .nota-lista:hover{
    /* background-color: #f5f68a;*/
    background-color: #eceba7;
    transform: scale(1.1);
    cursor:crosshair;
  }
  
  .nota-footer{
    display:flex;
    align-items: center;
    justify-content: space-between; 
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
   text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  }
  