body {
  margin: 0;
  font-family: "Lucida Console", "Courier New", monospace;
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Listanota{
 display:grid;
 grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

 
header{
  display:flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}
.nota_nueva{
  background: #67d7cc;
  padding: 1rem;
  height:170px;
  display:flex;
  justify-content: space-between;
  flex-direction: column; 
  border-radius: 10px ;
}

textarea{
  border: none;
  resize: none;
  background: #67d7cc;
}

textarea:focus{
  outline: none;
}

.Guardar{
  background-color: rgb(138, 168, 167);
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.Guardar:hover{
  background-color: rgb(138, 168, 167);
  transform: scale(1.1);
  color: white;
  cursor:pointer;
}

.delete-icon:hover{
  color: red;
  transform: scale(1.1);
  cursor: pointer;
}

.container {
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
	min-height: 100vh;
}

.nota-lista{
  background: #f5f68a;
  padding: 1rem;
  height:170px;
  display:flex;
  justify-content: space-between;
  flex-direction: column; 
  border-radius: 10px ;
}

.nota-footer{
  display:flex;
  align-items: center;
  justify-content: space-between; 
}